.visit-container {
  padding: 0.5rem 20px 0.5rem 20px;
}

.cards-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.card-column {
  flex: 1 1 30%;
}

.card-column:nth-child(1) {
  margin-top: 1rem;
}

.card-column:nth-child(3) {
  margin-top: 1rem;
}

.card {
  padding: 20px;
  margin-bottom: 80px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-bottom: 10px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.card p {
  margin-bottom: 10px;
  color: #555;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h2:last-child,
.card p:last-child,
.card img:last-child {
  margin-bottom: 0;
}
